


/* general settings */
body {
    font-family: 'Tahoma';
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    margin: 0 auto;
}



/* navigaton bar settings */
nav {
    background-color: rgb(126, 32, 32);
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 35px; 
    box-sizing: border-box;
}

nav ul li {
    font-size: 1.1em;
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
}



/* all titles and paragraphs settings */
h1 {
    font-size: 2em;
    margin: 0 auto;
    line-height: 2;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.4em;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 0.9em;
    margin: 0 auto;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 0px;
}



/* home body sections */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 15px; 
    box-sizing: border-box;
}

    .teaching-info {
        flex: 1;
        text-align: left;
        font-size: 1em;
        justify-content: center;
        margin-top: 10px;
        line-height: 1.2;
    }
